@import '../../../styles/variables';

.button {
  font-size: 16px;
  margin: 0;
  text-transform: none;
  font-weight: normal;

  &_theme {
    &Primary {
      background: var(--color-primary);
    }

    &Black {
      background: var(--color-black);
    }
  }

  &_size {
    &Small {
      font-family: $font-default;
      height: 44px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }

    &Medium {
      font-family: $font-office-demi;
      height: 56px;
      letter-spacing: 0;
    }
  }

  &_disabled {

    opacity: 1;
  }

  &_test {
    color: red;
  }
}
