// @font-face {
//   font-family: 'officeworksprintmedium';
//   src: url('../assets/fonts/officeworksprint-medium-webfont.woff')
//       format('woff2'),
//     url('../assets/fonts/officeworksprint-medium-webfont.woff2') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

:root {
  --color-primary: #da192e;
  --color-accent: #f4cd24;
  --color-tone-1: #ffc7ab;
  --color-tone-2: #e1a189;
  --color-tone-3: #db7f6a;
  --color-tone-4: #984a34;
  --color-tone-5: #4c2a27;
  --color-light: #f9f9f9;
  --color-medium: #92949c;
  --color-dark: #222428;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #d8d8d8;
  --color-grey-3: #c2c2c3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-danger-1: var(--color-primary);
  --color-danger-2: #da192e14;
}

#root {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
